{% load static %}
<nav class="bg-white shadow mb-8">
    <div class="mx-[26px] flex justify-between items-center h-full">
        <a href="/" class="flex items-center">
            <img src="{% static 'assets/BSC logo.png' %}" alt="BSC Logo" class="h-[65px] w-auto mr-2" />
        </a>
        <div class="flex gap-2 items-center space-x-6 p-6">
            <p class="text-sm font-semibold bg-green-300 rounded-full px-3 py-1">{% if is_admin %}Admin{% elif is_employee %}Employee{% endif %}</p>
            <div class="flex items-center gap-2">
                <img src="{% static 'assets/abstract.jpg' %}" alt="Profile" class="w-8 h-8 rounded-full border-2 border-blue-400 object-cover" />
                <a href="{% url 'profile' %}" class="text-gray-700 hover:text-blue-600 font-semibold">{{ user.username }}</a>
            </div>
            {% if is_admin %}
            <a href="{% url 'add_viewer' %}" class="text-blue-600 hover:text-blue-800 font-semibold">Viewers</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="text-red-600 hover:underline font-semibold">Logout</a>
        </div>
    </div>
</nav> 